* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --background: #E5FFB3;
    --background-accent: #DBF8A3;
    --background-accent-2: #BDE66E;
    --light: #92DE34;
    --dark: #69BC22;
    --text: #025600;
  }

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    margin: 0;
    background-color: #E5FFB3;
    font-family: "Nunito", "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

h1 {
    text-align: center;
    color: gold;
    text-shadow: 2px 3px 5px #000000;
}

#fishImage {
    width: 40rem;
    height: auto;
    background-color: #DBF8A3;
    margin: auto;
}



/* figuring out how to add a "typewriter" style animation
#catchPhrase {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
        typing 3.5s steps (40, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {width: 0}
    to {width: 100%}
}
*/