* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    margin: 0;
    background-color: #E5FFB3;
    font-family: "Nunito", "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

h1 {
    text-align: center;
    color: gold;
    text-shadow: 2px 3px 5px #000000;
}

form {
    text-align: center;
}

main {
    margin-top: 50px;
}

p {
    margin-top: 3px;
    margin-bottom: 15px;
}

#images{
    text-align: center;
    background-color: #DBF8A3;
}

#fishImage {
    width: 40rem;
    height: auto;
    margin: auto;
}

#icon {
    margin-top: 25rem;
    width: 10rem;
    height: auto;
    margin: auto;
}



/* figuring out how to add a "typewriter" style animation
#catchPhrase {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
        typing 3.5s steps (40, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {width: 0}
    to {width: 100%}
}
*/